/*
 * Primary:
 * App Bar Grey #212121
 * BG #303030
 * Cards/Dialogs #424242
 *
 * Accent:
 * red #e53935
 */

html {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}

.container {
}

/*MAIN SECTION */
main {
}

#main-container {
    width: 91%;
    margin: auto;
    float: right;
    height: 100vh;
}

#main-container a {
    color: #fff;
}

#contact {
    float: right;
    margin-right: 1%;
    padding: 1% 1% 1% 1%;
    
}

#contact a {
    text-decoration: none;
    font-weight: bold;
    color: #e53935
}

#contact:hover {
   padding-bottom: 1%;
   border-bottom: 2px solid #e53935;
   -moz-transition: 0.3s ease;
   -webkit-transition: 0.3s ease;
   -o-transition: 0.3s ease;
   -ms-transition: 0.3s ease;
   transition: 0.3s ease;
}

/* SIDEBAR */
aside {
    background-color: #212121;
    color: #ddd;
    float: left;    
    margin: auto;
    width: 9%;
    height: auto;
    text-align: center;
    height: 100vh;
    font-size: 90%;
}

#icon {
    width: 100px;
}
aside img {
    border-radius: 10em;
    margin-top: 10%;
    width: 90%;
}

aside ul{
    padding: 0;
    margin: 0;
    padding-bottom: 15%;
    color: #aaa;
}

aside ul li {
    display: block;
}

aside h3 {
    color: #fafafa;
    padding: 0;
    margin: 3%;
}

aside h4 {
    margin: 0;
    text-decoration: underline;
    color: #995959;
}

#social-links-ul {
    margin-top: 50vh;
    background-color: grey;
    position: relative;
}

hr {
    width: 90%;
    border-color: transparent;
    border-top: 1px solid #333;
}

aside a {
    color: #dedede;
    text-decoration: none;
}

/* FOOTER */
footer {
/*    background-color: #57d9d9; */
    color: #ddd;
    position: relative;
    height: 5vh;
    margin-top: 40vh;
    padding-top: 15%;
    font-size: 100%;
}

