/*
 * Primary:
 * App Bar Grey #212121
 * BG #303030
 * Cards/Dialogs #424242
 *
 * Accent:
 * red #e53935
 */

html {
    font-family: sans-serif;
}

body {
    background-color: #303030;

}

.container {
   width: 80%; 
   margin: auto;
}

/*MAIN SECTION */
main {
}

#main-container {
    background-color: #424242;
    width: 87%;
    margin: auto;
    float: right;
    height: 97vh;
}

#main-container a {
    color: #fff;
}

#contact {
    float: right;
    padding-right: 1%;
    padding-top: 1%;
}
#contact a {
    text-decoration: none;
    font-weight: bold;
    color: #e53935
}

/* SIDEBAR */
aside {
    background-color: #212121;
    color: #ddd;
    float: left;    
    margin: auto;
    width: 12%;
    height: auto;
    text-align: center;
    height: 97vh;
    font-size: 90%;
}

aside img {
    border-radius: 10em;
    margin-top: 5%;
}

aside ul{
    padding: 0;
    margin: 0;
    padding-bottom: 10%;
    color: #aaa;
}
aside ul li {
    display: block;
}

/* FOOTER */
footer {
}
