.tab-list {
   background-color: rgba(0,0,0,0);
   padding-left: 0;
}

#content-tab-panel ul{
    margin-bottom: 1px;
}

#content-tab-panel li {
    display: inline-block;
    border-radius: 0.5em 0.5em 0 0;
    padding: 1%;
    margin: 0;
}

#content-tab-panel li a{
    color: #303030;
    text-decoration: none;
}

#content-tab-panel li.active a{
    color: #303030;
}

#content-tab-panel li.active {
    padding: 1%;
    display: inline-block;
    border-bottom: 2px solid #e53935;
}

#content-tab-panel li:hover {
    border-bottom: 2px solid #e53935;
    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease;
}

.tab-panel {
    display: none;
}

.tab-panel.active {
    display: block;
    border-radius: 0 0 0 0;
    height: 90vh;
}


