#content-tab-panel ul{
    padding: 0;
    margin-bottom: 1px;
}

#content-tab-panel li {
    display: inline-block;
    background-color: #333;
    border-radius: 0.5em 0.5em 0 0;
    padding: 1%;
    margin: 0;
}

#content-tab-panel li a{
    color: #fafafa;
    text-decoration: none;
}

#content-tab-panel li.active a{
    color: #333;
}

#content-tab-panel li.active {
    background-color: #fafafa;
    padding: 1%;
    display: inline-block;
}

.tab-panel {
    display: none;
}

.tab-panel.active {
    display: block;
    background-color: #fafafa;
    border-radius: 0 0 0 0;
    height: 90vh;
}


